<ul *ngIf = "details.length == 5">
    <div class="container mt-2">
        <h3>European City Weather</h3>
    <div class="row">
        <div class="col-md-3 cityforecast" *ngFor = 'let tempValue of details' (click)="fetchForecast(tempValue.city)">
            <a href="#">{{tempValue.data.name}}</a>
        <div>Temperature: {{tempValue.data.main.temp}}</div>
        <div>Sunrise: {{tempValue.data.sys.sunrise  | date: 'longTime'}}</div>
        <div>Sunset: {{tempValue.data.sys.sunset  | date: 'longTime'}}</div>
    </div>
    </div>
    </div>
    
</ul>


<div class="overlay" *ngIf="popup">
    <div class="popup">
        <h3>Forecast(Next 5 days):</h3>
        <a class="close" (click)="popup = false">&times;</a>
        <div class="content" *ngIf="result.length == 5">
        <ul>
            <li *ngFor = 'let tempValue of result'>
            <div>{{tempValue.dt_txt | date: 'long'}}: </div>
            <div>Temperature: {{tempValue.main.temp}}</div>
            <div>Sea Level: {{tempValue.main.sea_level}}</div>
            </li>
        </ul>
        </div>
    </div>
</div>